<a href="https://colab.research.google.com/github/nathsmo/Elements-of-ML/blob/master/Clase_Practica_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

df = pd.read_excel("https://goo.gl/qSE6q8")

df["default2"] = df.default.factorize()[0]
df["student2"] = df.student.factorize()[0]


#.factorize() nos regresa dos objetos: un array con etiquetas
# y uno con valores unicos. Solo nos interesa el primero
y = df.default2.values
X = df[["balance", "student2"]].values

In [0]:
print("Error: {:.2f}".format(100*(1- sum(y == y_pred)/len(y))), "%")

('Error: 100.00', '%')

In [0]:
print("Error: {:.2f}".format(100*(1- lda.score(X, y))), "%")

('Error: 2.75', '%')

In [0]:
lda = LinearDiscriminantAnalysis().fit(X, y)
y_pred = lda.predict(X)

In [0]:
from sklearn.metrics import confusion_matrix

y_actual = pd.Series(y, name="Actual")
y_predicho = pd.Series(y_pred, name="Predicho")


y_actual = y_actual.replace([0,1], ["No", "Si"])
y_predicho = y_predicho.replace([0,1], ["No", "Si"])

In [0]:
pd.crosstab(y_actual, y_predicho, margins=True)

Predicho    No   Si    All
Actual
No        9644   23   9667
Si         252   81    333
All       9896  104  10000

In [0]:
print(confusion_matrix(y, y_pred))

[[9644   23]
 [ 252   81]]

In [0]:
nt, fp, fn, tp = confusion_matrix(y, y_pred).ravel()

# el error total cometido es el total de los falsos dividido el total de los datos

#https://gist.github.com/PDillis/3d7b10163802f640e58003fef5d8a811